.button {
  background-color: rgba(0, 119, 255, 0.1);
  border: 2px solid #07f;
  border-radius: 5px;
  color: #07f;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 5px 10px;
}

.red{
   bac #ff1300;

}