.button {
  background-color: #07f;
  border: none;
  border-radius: 7px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  padding-block: 7px;
  width: 100px;
}
.red {
  background-color: #ff1300;
  margin-right: 20px;
}
