.container {
  grid-gap: 30px;
  display: grid;
  gap: 30px;
  grid-auto-flow: row;
  grid-auto-rows: 150px;
  grid-template: repeat(1, 150px) / repeat(auto-fit, minmax(150px, 0.5fr));
  margin-bottom: 100px;
  padding: 0 5%;
}
.albumContainer {
  align-items: center;
  border: 5px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin-block: 30px;
  transition: border-color 0.3s;
  width: 100%;
}
.albumContainer:hover {
  border-color: #07f;
  color: #fff;
}
.albumContainer > img {
  margin-bottom: 30px;
  width: 50px;
}
.albumContainer > span {
  background-color: #eee;
  font-size: 1.1rem;
  font-weight: 700;
  padding-block: 5px;
  text-align: center;
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}
.albumContainer: > span:hover {
  background-color: #07f;
}
