.input {
  border: 3px solid transparent;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
  padding: 10px 10px 10px 15px;
  transition: 0.3s;
  width: 60%;
  margin-right:
}
