.container {
  height: 70px;
  background-color: #a0a0f9;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  mar
}
.container img {
  height: 70%;
  margin-left: 50px;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
}
