.container {
  padding: 0 5%;
}
.bar {
  display: flex;
  justify-content: space-between;
}
.bar span {
  align-items: center;
  aspect-ratio: 1;
  background-color: #fcfcfc;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  width: 50px;
}
.bar img {
  width: 30px;
}
